[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
	branch = flip_geodesics_release
